.catalog {
  @include flex(flex-start, flex-start);

  @include tablet {
    flex-direction: column;
  }
  &__content {
    &__delete-all {
      height: 50px;
      margin-bottom: 20px;
      font-size: 1.4rem;
      @include flex(center, space-between);
      gap: 15px;
      .show{
        display: none;
      }
      span {
        font-size: 1.6rem;
        color: $main-color;
        font-weight: bold;
      }
      input {
        width: 25px;
        height: 25px;
      }
      button {
        background-color: red;
        padding: 8px;
        border-radius: 4px;
        color: #fff;
        display:block;
      }
    }
    width: 100%;
    @include flex(center, space-between);
    flex-direction: column;
    @include tablet {
      width: 100%;
    }
    &__not-found {
      transform: translateY(65%);
      &__main {
        @include flex(center, center);
        flex-direction: column;
        gap: 20px;
        color: $main-color;
        font-size: 1.4rem;
        text-align: center;
        @include tablet {
          transform: translateX(50%);
        }
        @include mobile {
          transform: translateX(0);
        }
      }
    }
  }

  &__filter__toggle {
    display: none;
    @include tablet {
      z-index: 97;
      display: block;
      margin-bottom: 2rem;
    }
  }
}
