.categories{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    form{
        width: 290px;
        margin-bottom: 20px;
    }
    label{
        display: block;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1.6rem;
    }
    input, button{
        height: 35px;
        border: none;
        outline: none;
        border-bottom: 1px solid #555;
        font-size: 1.4rem;
    }
    input{
        width: 210px;
    }
    button{
        width: 70px;
        background: $btn-main-bg;
        color: white;
        margin-left: 10px;
        border-radius: 12px;
        cursor: pointer;
        &:active{
            transform:scale(0.9)
        }
    }
    .row{
        min-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 1.4rem;
    }
}

